.cartContent {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
 
}

.cartItem {
  width: 100vw;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cartItem img {
  max-height: 150px;
  object-fit: cover;
  display: flex;
  width: 100px;
}

.img_titel{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 70%;
}
.img_titel h3 {
  margin-left: 2%;
}

.buttom_quantity{
  display: flex;
  flex-direction:row;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.cart-delete-button {
  color: red;
  margin: 0;
  border: 0;
  padding: 0;
  background: hsl(214, 18%, 92%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.counter-button {
  width: 30px;
  height: 30px;
  background: #d5cdcd;
  cursor: pointer;
  border: 2px solid #6e6f70;
}

.cartTotal{
  display: flex;
  justify-content:right;
  margin-right: 50px;

}


/*EMPTY CART*/

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.emptyCart{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-top: 150px;
  margin-bottom: 60px;
  margin-left: 800px;
  text-align: center;
}
 
 /* Additional styles to ensure 4 products per row */
 @media (max-width: 768px) {
   .cartContent {
     width: 50%;
   }

   .emptyCart{
    width: 300px;
    height: 300px;
    margin-left: 140px;
  }

  h3{
    text-align: center;
    margin: 30px;
  }
 }
 
 @media (max-width: 480px) {
   .cartContent {
     width: 100%;
   }

 }